* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration:none;
}


#Header {
    padding:20px;
    color:white;
    font-size:xx-large;
    text-align:right;
    text-align;
    width:100%;
    height:200px;
    background-color:rgb(22, 167, 3);
}
#menu {
    float:left;
    width:25%;
    height:1000px;
    background-color:gray;
    text-align: center;
    font-size: 60px;
    color:white;
    text-decoration:none;
}
#menu2 {
    text-decoration:none;
    text-align:center;
    font-size:larger;
    float:right;
    width:75%;
    height:1000px;
    background-color:black;
    color:white;
}
#footer {
    background-color:darkgreen;
    width:100%;
    height:30px;
    padding:20px;
    position: fixed;
    bottom: 0;
    text-align:center;
    font-size:larger;
}
